<% content_for(:html_title) { 'Find the best university for your life!' } %>

<div class="container">
  <h5 class="counter">
    <% if @programs.count == 0 %>
      <%= "Unfortunately we couldn't find any Universities that match your criteria." %>
    <% elsif @programs.count == 1 %>
      <%= "We found 1 University that matches your criteria." %>
    <% else @programs.count %>
      <%= "We found #{@programs.count} Universities that match your criteria." %>
    <% end %>
  </h5>


  <div class="row" style="padding-top: 45px;">

  <div class="flex">
    <%= form_tag programs_path, method: :get do %>
          <div class="search2">
            <div class="border-hover">
              <h2>Subject</h2>
              <%= text_field_tag :subject,
              params[:subject],
              class: "subject form-control"%>
            </div>
            <div class="bottom-border">
            </div>


            <div class="border-hover">
              <h2>Degree</h2>
              <%= select_tag  :degree, options_for_select(["", "MSc", "BSc", "MA", "BA", "MLitt", "BLitt"], params[:degree]),
              class: "form-control"
                %>
            </div>
            <div class="bottom-border">
            </div>


            <div class="border-hover">


              <h2>Location</h2>
                <select name="locations[]" multiple data-placeholder="<% unless params[:locations].nil? %><% empty = "" %><% params[:locations].each do |location| %><% empty +=location + ", "%><% end %><%= empty.lstrip %><% end %>"
                  multiple class="chosen-select">
                  <%= @no_duplicates_uni.each do |location| %>
                  <option value="<%= location %>"><%= location %></option>
                  <% end %>
                </select>
            </div>
            <div class="bottom-border">
            </div>


          <div class="submit">
            <%= submit_tag "Update", class: "btn btn-info"%>
          </div>
          <% end %>
        </div>


          <div class="cards col-9">
            <%= render partial: "/shared/card", locals: { programs: @programs, program: @program } %>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
