<div class="container">
  <h1 style="padding-top: 60px;">Your Search Results</h1>
  <div class="row" style="padding-top: 45px;">

  <div class="flex">
    <%= form_tag programs_path, method: :get do %>
          <div class="search">
            <div class="border-hover">
              <h2>Subject</h2>
              <%= text_field_tag :subject,
              params[:subject],
              class: "form-control"%>
            </div>
            <div class="bottom-border">
            </div>
            <div class="border-hover">
              <h2>Degree</h2>
              <%= select_tag  :degree, options_for_select(["", "MSc", "BSc", "MA", "BA", "MLitt", "BLitt"], params[:degree]),
              class: "form-control"
                %>
            </div>
            <div class="bottom-border">
            </div>
            <div class="border-hover">
              <h2>Location</h2>
              <%= select_tag "location", options_from_collection_for_select(@universities, "location", "location", params[:location]), include_blank: true,
              class: "form-control"
                %>
            </div>
            <div class="bottom-border">
            </div>
          <div class="submit">
            <%= submit_tag "Update", class: "btn btn-info"%>
          </div>
          <% end %>
        </div>

          <div class="cards col-9">
            <%= render partial: "/shared/card", locals: { programs: @programs, program: @program } %>
          </div>
        </div>
        <br>
        <br>
      </div>
    </div>
