<% content_for(:html_title) { 'Great University - take a deeper view' } %>


<div class="goback">
  <%= link_to "<< Back", programs_path %>
</div>
<div class="container" id="bookmark">
  <h1 id="headline"><%= @program.university.name %></h1>
  <div>
    <div class="row justify-content-center mb-2">
      <iframe class="iframe" width="600" height="355" src="<%= @program.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="row justify-content-center mb-2">
      <h2><%= @program.name %></h2>
      <a class="btn-home" href="<%= @program.application_link %>" target="_blank">Apply now</a>
      <div class="bookmark-container">
        <% if @bookmark.id %>
          <%= link_to program_bookmark_path(@program, @bookmark), method: :delete, remote:true do  %>
          <svg class="bi bi-bookmark-fill bookmark" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V3z"/>
          </svg>
        <% end %>
        <% else %>
          <%= link_to program_bookmarks_path(@program, @bookmark), method: :post, remote: true do  %>
          <svg class="bi bi-bookmark bookmark" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
          </svg>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <p><%= @program.description %></p>
      </div>
    </div>
  </div>
</div>
<div class="uni-information">
  <div>
    <h4>Accreditation</h4>
    <hr>
    <p>Triple Crown - AACSB, EQUIS, AMBA</p>
  </div>
  <div>
    <h4>Financial Times Ranking</h4>
    <hr>
    <p>#14</p>
  </div>
  <div>
    <h4>Times Higher Education Ranking</h4>
    <hr>
    <p>#1 (Germany)</p>
  </div>
</div>
<div class="application">
  <div class="question">
    <h1 id="h1">How to apply?</h1>
    <hr>
    <h3>
      <span id="banner-typed-question"></span>
    </h3>
    <h2 style="padding-bottom: 0; text-decoration: none;">What do you need to enroll?</h2>
    <ol>
      <li style="color: #535050;">University entrance qualification (mostly Abitur)</li>
      <li style="color: #535050;">German language certificate</li>
      <li style="color: #535050;">Certificate of attendance of the orientation test</li>
      <li style="color: #535050;">Proof of very good English skills at the latest at the beginning of the semester</li>
    </ol>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lu-1rw467OA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="quote">
  <br>
  <br>
  <h3><i>"Successful and unsuccessful people do not vary greatly in their abilities. They vary in their desires to reach their potential."</i></h3>
  <p>-John Maxwell-</p>
  <br>
  <br>
</div>

<div style="display: flex; justify-content: space-around; margin: 30px;">
  <div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/kP_et05RvFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
  <div class="question" style="padding-left: 56px;padding-top: 20px;">
    <h1 id="h1">Mannheim Campus</h1>
    <hr>
    <p>The University of Mannheim (in German: Universität Mannheim), abbreviated UMA, is a public research university in Mannheim, Baden-Württemberg, Germany. Founded in 1967, the university has its origins in the Palatine Academy of Sciences, which was established by Elector Carl Theodor at Mannheim Palace in 1763, as well as the Handelshochschule (Commercial College Mannheim), which was founded in 1907.

The university offers undergraduate and graduate programs in business administration, economics, law, social sciences, humanities, mathematics, computer science and information systems. The university's campus is located in the city center of Mannheim and its main campus is in the Mannheim Palace. In the academic year 2016/2017 the university had 12,000 full-time students, 907 academic staff, with 194 professors, and a total income of around €123 million. It is organized into five schools and two graduate colleges.</p>
  </div>
</div>





