<div class="container">
  <h1 id="headline"><%= @program.university.name %></h1>
  <div class="row justify-content-center mb-2">
    <iframe class="iframe" width="560" height="315" src="<%= @program.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- bookmark-button -> unmarked -->
    <div class="bookmark-container">
      <% if @bookmark.id %>
        <%= link_to program_bookmark_path(@program, @bookmark), method: :delete do  %>
        <svg class="bi bi-bookmark-fill bookmark" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V3z"/>
        </svg>
      <% end %>
      <% else %>
        <%= link_to program_bookmarks_path(@program, @bookmark), method: :post do  %>
        <svg class="bi bi-bookmark bookmark" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v10.234z"/>
        </svg>
        <% end %>
      <% end %>
            <!-- bookmark-button -> marked -->

    </div>
  </div>
  <div class="row justify-content-center mb-2">
      <h2><%= @program.name %></h2>
     <a class="btn btn-primary" href="<%= @program.application_link %>" target="_blank">Apply now</a>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <p><%= @program.description %></p>
    </div>
  </div>
</div>




