<div class="program-grid">
  <% programs.each do |program| %>
    <%= link_to program, class: "card-program-1" do %>
        <div class="d-flex">
          <div class="d-flex justify-content-between">
            <div class="card-program-1-image">
              <% if program.university.photo.present? %>
                <%= cl_image_tag program.university.photo.key, alt: "uni-thumbnail" %>
              <% else %>
                <%= cl_image_tag("https://source.unsplash.com/800x600/?universities") %>
              <% end %>
              <i class="fas fa-play-circle position-icon"></i>
            </div>
            <div class="card-program-1-infos">
              <h2><%= program.university.name %></h2>
              <h3><%= program.subject.name %></h3>
              <h4><%= program.degree %></h4>
              <h4><%= program.university.location %></h4>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
