<div class="program-grid">
  <% programs.each do |program| %>
    <%= link_to program, class: "card-program-1" do %>
          <div class="d-flex justify-content-between">
            <div class="card-program-1-image">
              <% if program.university.photo.present? %>
                <%= cl_image_tag program.university.photo.key, alt: "uni-thumbnail" %>
              <% else %>
                <%= cl_image_tag("https://source.unsplash.com/800x600/?universities") %>
              <% end %>
              <i class="fas fa-play-circle position-icon"></i>
            </div>
            <div class="card-program-1-infos">
              <span class="card-program-title"><%= program.university.name %></span>
              <p class="card-program-info"><i class="label">Subject</i><%= program.subject.name %></p>
              <p class="card-program-info"><i class="label">Degree</i><%= program.degree %></p>
              <p class="card-program-info"><i class="label">Location</i><%= program.university.location %></p>
            </div>
          </div>
    <% end %>
  <% end %>
</div>
