<div class="program-grid">
  <% programs.each do |program| %>
    <%= link_to program, class: "card-program-1 mb-5" do %>
        <div style="display: flex;">
          <div class="card-program-1-image">
            <%= image_tag "https://source.unsplash.com/640x427/?universities", alt: "uni-thumbnail" %>
            <i class="fas fa-play-circle position-icon"></i>
          </div>
          <div class="card-program-1-infos">
            <h2 style="padding: 0;"><%= program.university.name %></h2>
            <h3><%= program.subject.name %></h3>
            <h4><%= program.degree %></h4>
            <h4><%= program.university.location %></h4>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
