<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" <%= link_to "WYDER", root_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="display: flex; justify-content: space-between;">
        <div>
          <form class="form-inline my-2 my-lg-0">
            <%= form_tag programs_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "University"
               %>
              <%= submit_tag "Search", class: "btn btn-info"%>
            <% end %>
          </form>
        </div>
        <div style="display: flex;">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if current_user %>
            <li class="nav-item active">
              <a class="nav-link" <%= link_to "Log-Out",  destroy_user_session_path, method: :delete %><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" <%= link_to "Dashboard", dashboards_path %><span class="sr-only">(current)</span></a>
            </li>
          <% else %>
            <li class="nav-item active">
              <a class="nav-link" <%= link_to "Log-In", new_user_session_path %><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" <%= link_to "Register", new_user_registration_path %><span class="sr-only">(current)</span></a>
            </li>
          <% end %>
        </div>
    </ul>
  </div>
</nav>

<!-- style="display: flex; justify-content: space-between;">
 -->
