<div class="container mt-5">
  <div class="welcoming">
    <h1>Welcome to your Dashboard <%= @user.email %> !</h1>
  </div>
      <div class="col-sm-12 col-md-6 pt-5">
        <h3>
          <% if @user.bookmarks.count == 0 %>
            <%= "You don't have any bookmarked videos 😦" %>
          <% elsif @bookmarks.count == 1 %>
            <%= "You have 1 bookmarked video 📹" %>
          <% else @user.bookmarks.count %>
            <%= "You have #{@user.bookmarks.count} bookmarked videos 📹" %>
          <% end %>
        </h3>
      </div>
      <div>

        <!-- FILTERS DIV DROPDWONS -->

        <div class="filter-div" style="display: flex; justify-content: space-between; justify-content: center;">
          <h4 id="filter-text">Filter by:</h4>

            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subject
              </button>
                <div class="dropdown-menu">
                  <% @programs.each do |p| %>
                  <%= link_to p.subject.name,
                  dashboards_path(subject_name: p.subject.name),
                  class: "dropdown-item" %>
                  <% end %>
                  <%= link_to "All Subjects",
                dashboards_path(subject_name: "subjects"),
                class: "dropdown-item" %>
                <a class="dropdown-item" href="#">All subjects</a>
              </div>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              University
            </button>
              <div class="dropdown-menu">
                <% @programs.each do |p| %>
                  <%= link_to p.university.name,
                  dashboards_path(university_name: p.university.name),
                  class: "dropdown-item" %>
                <% end %>
                <%= link_to "All Universities",
                dashboards_path(university_name: "universities"),
                class: "dropdown-item" %>
              </div>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle m-3" data-toggle="dropdown">
              Program
            </button>
              <div class="dropdown-menu">
                <% @programs.each do |p| %>
                  <%= link_to p.name, dashboards_path(program_name: p.name), class: "dropdown-item" %>
                <% end %>
                <%= link_to "All Programs", dashboards_path(program_name: "programs"), class: "dropdown-item" %>
              </div>
          </div>
        </div>

        <!-- These buttons are just random subjects from user bookmarks) -->

        <div class="user-filter" style="display: flex; justify-content: space-around">
          <div class="btn-group">
            <% if @user.programs.count > 0 %>
              <%= link_to @programs.first.subject.name,
              dashboards_path(subject_name: @programs.first.subject.name), class: "btn"%>
            <% end %>
            <% if @programs.count > 1 %>
              <%= link_to @programs.last.subject.name, dashboards_path(subject_name: @programs.last.subject.name), class: "btn" %>
            <% end %>
            <% if @programs.count > 2 %>
              <%= link_to @programs.second.subject.name, dashboards_path(subject_name: @programs.second.subject.name), class: "btn" %>
            <% end %>
          </div>
        </div>

        <!-- Div for all the videos/filtered if click on buttons -->

        <div class="all-videos p-5">
        <div class="cards col-9">
          <%= render partial: "/shared/card", locals: { programs: @programs } %>
        </div>
      </div>
    </div>
</div>


