<div class="container mt-5">
  <div class="welcoming">
    <h1>Welcome to your Dashboard <%= @user.email %> !</h1>
  </div>
      <div class="col-sm-12 col-md-6 pt-5">
        <h3>
          <% if @user.bookmarks.count == 0 %>
            <%= "You don't have any bookmarked videos 😦" %>
          <% elsif @bookmarks.count == 1 %>
            <%= "You have 1 bookmarked video 📹" %>
          <% else @user.bookmarks.count %>
            <%= "You have #{@user.bookmarks.count} bookmarked videos 📹" %>
          <% end %>
        </h3>
      </div>
      <div>

        <!-- FILTERS DIV (The bottom filters are just random subjects/programs from user bookmarks) -->
        <div class="filter-div" style="display: flex; justify-content: space-between; justify-content: center;">
          <h4 id="filter-text">Filter by:</h4>
          <div class="btn-group">

            <button type="button" class="btn btn-primary dropdown-toggle m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Subject
            </button>
            <div class="dropdown-menu">
              <% @programs.each do |s| %>
                <a class="dropdown-item" href="#"><%= s.subject.name %></a>
              <% end %>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">All subjects</a>
            </div>

            <button type="button" class="btn btn-primary dropdown-toggle m-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Program
            </button>
            <div class="dropdown-menu">
              <% @programs.each do |p| %>
                <a class="dropdown-item" href="#"> <%= p.subject.name %></a>
              <% end %>
            <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">All subjects</a>
            </div>
          </div>
        </div>

        <div class="user-filter" style="display: flex; justify-content: space-around">
          <div class="btn-group">
            <% if @user.programs.count > 0 %>
              <!-- @subject_programs = @all_programs.where(subject: Subject.find_by(name: params[:subject_name]) -->
              <%= link_to @user.programs.first.subject.name, dashboards_path, class: "btn" %>
            <% end %>
            <% if @user.programs.count > 1 %>
              <%= link_to @user.programs.last.subject.name, dashboards_path, class: "btn" %>
            <% end %>
            <% if @user.programs.count > 2 %>
              <%= link_to @user.programs.second.subject.name, dashboards_path, class: "btn" %>
            <% end %>
          </div>
        </div>

        <!-- Div for all the videos/filtered if click on buttons -->

        <div class="all-videos">
          <% @user.bookmarks.each do |b| %>
           <div class="card-program-1">
             <%= b.program.name %>
           </div>
          <% end %>
        </div>
      </div>
</div>


