<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:html_title) ? yield(:html_title) : "Wyder - Stop Searching. Start Finding." %>
    </title>
    <!-- <title>WYDER</title> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- These 2 lines come from the LeWagon Meta-Tag-Setup -->
    <!-- <title><%= meta_title %></title> -->
    <meta name="description" content="<%= meta_description %>">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <br>
    <br>
    <br>
    <hr>
    <div class="footer">
      <%= render 'shared/footer'%>
    </div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </body>
</html>
